@font-face {
    font-family: 'Aachen';
    src: url('AachenBoldPlain.woff2') format('woff2'),
        url('AachenBoldPlain.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

